section {
    padding: 2rem 9%;
}
.home {
    padding: 0;
    position: relative;
    display: flex;
    z-index: 1;
}
.home .slide-container .slide {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0 9%;
    padding-top: 9rem;
}
.home .slide-container .slide .content {
    animation: slideContent 0.5s linear;
    flex: 1 1 40rem;
}
@keyframes slideContent {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
}
.home .slide-container .slide .image {
    flex: 1 1 50rem;
    padding-bottom: 15rem;
    position: relative;
    z-index: 0;
}
.home .slide-container .slide .image .shoe {
    width: 100%;
    transform: rotate(-35deg);
    animation: shoe 0.3s linear;
}
@keyframes shoe {
    0% {
        transform: rotate(0deg) scale(0.5);
    }
}
.home .slide-container .slide .image .text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    animation: shoeText 0.5s linear 0.5s backwards;
}
@keyframes shoeText {
    0% {
        opacity: 0;
        top: -10rem;
    }
}
.home .slide-container .slide .content span {
    font-size: 2rem;
    color: #ff9f1a;
}
.slide-container .slide .content h3 {
    font-size: 5rem;
    color: #2c2c54;
}
.home .slide-container .slide .content p {
    font-size: 1.7rem;
    color: #666;
    padding: 0.5rem 0;
}
.home .slide-container:nth-child(1) .slide {
    background: url(../../images/home-bg-1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.home .slide-container:nth-child(2) .slide {
    background: url(../../images/home-bg-2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.home .slide-container:nth-child(3) .slide {
    background: url(../../images/home-bg-3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 0.5rem;
    border: 0.2rem solid #2c2c54;
    font-weight: bolder;
    font-size: 1.7rem;
    color: #2c2c54;
    cursor: pointer;
    background: #fff;
    padding: 0.8rem 3rem;
}
.btn:hover {
    background: #ff9f1a;
    color: #fff;
}
.home .slide-container {
    display: none;
}
.home .slide-container.active {
    display: block;
}
.home .prev,
.home .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: 100;
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color: #2c2c54;
    border: 0.2rem solid #2c2c54;
    cursor: pointer;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .home .slide-container .slide .image .text {
        width: 60%;
    }
    .home .prev,
    .home .next {
        top: 85%;
    }
}
@media screen and (max-width: 400px) {
    .home .slide-container .slide .image .text {
        padding-bottom: 6rem;
    }
}
.home .prev:hover,
.home .next:hover {
    color: #fff;
    background: #ff9f1a;
}
.home .prev {
    left: 3rem;
}
.home .next {
    right: 3rem;
}
.service .box-contaniner {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    background: #f9f9f9;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 2rem;
}
.service .box-contaniner .box {
    text-align: center;
    flex: 1 1 30rem;
}
.service .box-contaniner .box .fa-icon {
    font-size: 4rem;
    color: #ff9f1a;
}
.service .box-contaniner .box h3 {
    font-size: 3rem;
    color: #2c2c54;
    padding-top: 1rem;
}
.service .box-contaniner .box p {
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}
