.favourite {
    margin-top: 100px;
}
.favourite .items-favourite {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.favourite p {
    font-size: 2.5rem;
    margin-left: 50px;
}
.list {
    margin: 0 40px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin-top: 60px;
}
@media screen and (max-width: 768px) {
    .list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
.list-favourites {
    margin: 0 15px;
    margin-bottom: 50px;
    width: 394px;
}
.list-favourites img {
    width: 100%;
    height: 394px;
    object-fit: cover;
}
.favor-context {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.favor-context h3 {
    font-size: 1.5rem;
    color: #2c2c54;
}
.favor-context p {
    font-size: 1.5rem;
    color: #2c2c54;
    font-weight: 600;
}
.btn-favor {
    display: flex;
    justify-content: space-between;
}
.list-favourites .btn-favor button {
    margin-top: 20px;
    padding: 10px 15px;
    border: 1.5px solid gainsboro;
    border-radius: 25px;
    font-size: 1.5rem;
    cursor: pointer;
    background: #fff;
    transition: 0.2s ease-in-out;
}
.list-favourites .btn-favor button:hover {
    transition: 0.1s ease-in-out;
    border: 2px solid lightslategray;
}
.mark-icon {
    display: flex;
    align-items: center;
}
.mark-icon .icon {
    color: rgb(116, 194, 0);
    margin-right: 5px;
}
